extends layout
block content
    div(style='margin:0 auto;width:0px;height:0px;overflow:hidden;')
        img#wechat_icon(src='/images/logo.jpg')
    header.site-header.jumbotron.index-header
        .container
            h1 _API Collect
            p 本网站目前由#[a(href="http://weibo.com/u/2025660943",target="_blank") Vango]进行管理维护
    .container-fluid
        .row
            .col-lg-10.col-lg-offset-1.col-md-12
                .row
                    .col-lg-4.col-md-4.col-sm-12.col-xs-12
                        a(href='http://api.diviniti.cn/jmu/library/doc?from=api_index')
                            .col-md-12.api-block
                                .row
                                    .img-container
                                        img(src='images/index/jmu_library_header_img.jpg')
                                .api-brief
                                    h2 _API for JMU Library
                                    p 为每个人提供更可读、高效的图书馆图书资源。
                    .col-lg-4.col-md-4.col-sm-12.col-xs-12
                        a(href='http://api.diviniti.cn/amoy/bus/doc?from=api_index')
                            .col-md-12.api-block
                                .row
                                    .img-container
                                        img(src='images/index/amoy_bus_header_img.jpg')
                                .api-brief
                                    h2 _API for AMOY BUS
                                    p 为每个人提供更可读、高效的厦门实时公交信息。
                    .col-lg-4.col-md-4.col-sm-12.col-xs-12
                        .col-md-12.api-block
                            .row
                                .img-container
                            .api-brief
                                h2 _API for NEXT*
                                p 敬请期待。