doctype html
html
   head
      title API Collect - DIVINITI
      meta(name="theme-color",content="#5E8B30")
      meta(name='viewport',content='width=device-width,initial-scale=1.0,user-scalable=no')
      meta(name='keywords',content='DIVINITI VANGO 黑塔的Shepherd 牧台 集美大学图书馆')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet',href='/stylesheets/font-awesome.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='icon',href='/images/favicon.ico')
      script(src='/javascripts/jquery.js')
   body
      block content
