doctype html
html
    head
        title 厦门公交API #[= version] 使用文档 - DIVINITI
        meta(name="theme-color",content="#315B8C")
        meta(name='viewport',content='width=device-width,initial-scale=1.0,user-scalable=no')
        meta(name='keywords',content='DIVINITI VANGO 黑塔的Shepherd 牧台 ')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/amoy/bus/style.css')
        link(rel='icon',href='/images/amoy/bus/favicon.ico')
        script(src='/javascripts/jquery.js')
    body
        block content
