doctype html
html
    head
        title 集大图书馆API #[= version] 使用文档 - DIVINITI
        meta(name="theme-color",content="#5E8B30")
        meta(name='viewport',content='width=device-width,initial-scale=1.0,user-scalable=no')
        meta(name='keywords',content='DIVINITI VANGO 黑塔的Shepherd 牧台 集美大学图书馆')
        meta(name='description',content='为每个人提供更可读、高效的集美大学图书馆图书资源')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet',href='/stylesheets/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon',href='/images/favicon.ico')
        script(src='/javascripts/jquery.js')
    body
        block content
